<div class="container">

  <form class="form-connect" action="/connect" method="POST">
    <h4 class="form-connect-heading">Enter your Redis address</h4>
    <input name="redis_address" type="text" class="input-block-level" placeholder="redis://127.0.0.1/1">
    <button class="btn btn-large btn-primary" type="submit">Connect!</button>
  </form>

</div>
