<!DOCTYPE html>
<html>
  <head>
    <title>Robin - the redis explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/base.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Robin - the redis explorer</h3>
      </div>
      <%= yield %>

      <hr>
      <div class="footer">
        <p>© Heroes Never Panic 2013</p>
      </div>
    </div>
    <!-- loading javascript -->
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
    <!-- <script src="/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/js/vendor/angular.min.js"></script>
  </body>
</html>
